$theme-color: #8A2BE2;
$theme-color-medium: #501974;
$theme-color-dark: #4A00A2;
$theme-color-darker: #301934;

#title a {
  display: block;
  text-decoration: none;
}

.platform-android .parent { padding: 93px 0 5px }
.year-month .parent .child {
  height: calc(100%/7);
  width: calc(100%/3);

  @media (orientation: landscape) {
    height: calc(100%/3);
    width: calc(100%/7);
  }
}

.day, .configs {
  .parent .child {
    height: 100%;
    width: 100%;
  }
}

.parent {
  padding: 49px 0 54px;
  height: 100%;
  line-height: 0;
  font-size: 0;

  .child {
    display: inline-block;
    padding: 5px;
    color: #333;
    line-height: 12px;
    font-size: 14px;
    position: relative;

    &.ayyamiha {
      width: calc(100%*2/15);

      @media (orientation: landscape) {
        width: calc(100%*2/35);
      }
    }

    &.around-ayyamiha {
      width: calc(100%*4/15);

      @media (orientation: landscape) {
        width: calc(100%*4/35);
      }
    }

    .holidays-count {
      position: absolute;
      right: 6px;
      top: 6px;
      z-index: 3;
      min-width: 23px;
      height: 23px;
      background-color: $theme-color-medium;
      color: #FFF;
      border-radius: 18px;
      text-align: center;
      line-height: 22px;
      font-size: 13px;
    }

    & > .card {
      overflow: auto;
      background-color: #F8F8F8;
      height: calc(100% - 10px);
      border-radius: 6px;
      position: relative;
      margin: 5px;

      .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        text-align: center;

        i::before {
          position: relative;
          font-size: 25px;
          top: 4px;
          line-height: 0;
        }

        .arabic, .portuguese {
          text-align: center;
        }

        .portuguese {
          color: #666;
          font-size: 11px;
          margin-top: 1px;
        }

        .gregorian {
          font-size: 9px;
          margin-top: 5px;
          color: #5D4B7D;
        }
      }

      .day-field {
        font-size: 180px;
        line-height: 180px;
        margin-top: 50px;
        display: block;
        text-align: center;
        color: $theme-color-darker;
      }

      .month-year-field {
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 50px;
      }

      .holiday, .events {
        padding: 30px;
        text-align: center;
      }
    }
  }
}


.modal-backdrop {
  background-color: rgba(0,0,0,0.1);

  .outer-modal {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;

    .modal {
      border-radius: 10px;
      border: 1px solid $theme-color-dark;
    }
  }
}