#title a {
  display: block;
  text-decoration: none;
}

.platform-android .parent { padding: 93px 0 5px }
.year-month .parent .child {
  height: calc(100%/7);
  width: calc(100%/3);

  @media (orientation: landscape) {
    height: calc(100%/3);
    width: calc(100%/7);
  }
}

.day .parent .child {
  height: 100%;
  width: 100%;
}

.parent {
  padding: 49px 0 54px;
  height: 100%;
  line-height: 0;
  font-size: 0;

  .child {
    display: inline-block;
    padding: 5px;
    color: #333;
    line-height: 12px;
    font-size: 14px;

    &.ayyamiha {
      width: calc(100%*2/15);

      @media (orientation: landscape) {
        width: calc(100%*2/35);
      }
    }

    &.around-ayyamiha {
      width: calc(100%*4/15);

      @media (orientation: landscape) {
        width: calc(100%*4/35);
      }
    }

    .outer {
      background-color: #eee;
      height: 100%;
      border-radius: 6px;
      position: relative;

      .holidays-count {
        position: absolute;
        right: -3px;
        top: -3px;
        width: 20px;
        height: 20px;
        background-color: #8A2BE2;
        color: #FFF;
        border-radius: 18px;
        text-align: center;
        line-height: 19px;
        font-size: 13px;
      }

      .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        text-align: center;

        .arabic, .portuguese {
          text-align: center;
        }

        .portuguese {
          color: #666;
          font-size: 11px;
          margin-top: 1px;
        }

        .gregorian {
          font-size: 9px;
          margin-top: 5px;
          color: #5D4B7D;
        }
      }
    }
  }
}