<ion-view class="day" on-drag-right="goToSiblingResource(-1)" on-drag-left="goToSiblingResource(+1)" on-drag-down="goToParentResource()">
  <ion-header-bar class="" align-title="center">
    <h1 id="title" class="title title-center">
      <a href="{{parentResourceUrl}}">{{day}} {{monthName}} {{year}}</a>
    </h1>
  </ion-header-bar>

  <div class="parent">
    <div class="child">
      <div class="card {{day+'-'+month+'-'+year == today ? 'today' : ''}}">
        <div class="day-field">{{day}}</div>
        <div class="month-year-field">{{monthName}} {{year}}</div>
        <div class="card holiday" ng-if="holidays[day].name">{{holidays[day].name}}</div>
      </div>
    </div>
  </div>
</ion-view>
