<ion-view class="year-month" on-drag-right="goToSiblingResource(-1)" on-drag-left="goToSiblingResource(+1)" on-drag-down="goToParentResource()">
  <ion-header-bar class="" align-title="center">
    <h1 id="title" class="title title-center">
      <a href="{{parentResourceUrl}}">{{monthName}} {{year}}</a>
    </h1>
  </ion-header-bar>

  <div class="parent" on-swipe-right="goToSiblingResource(-1)" on-swipe-left="goToSiblingResource(+1)">
    <a class="child" href="" ng-click="goToSiblingResource(-1)">
      <div class="card">
        <strong class="inner">
          <i class="ion-ios-arrow-back"></i>
          {{previousResource}}
        </strong>
      </div>
    </a>

    <a class="child {{item.htmlClass}}" ng-repeat="item in collection" ng-click="goToChildResource(item.id)">
          <span class="holidays-count" ng-if="holidays[item.id] > 0 || events[item.id] > 0">{{holidays[item.id] + events[item.id]}}</span>
      <div class="card">
        <div class="inner" ng-if="resource=='year'">
          <div class="arabic">{{item .alternativeName || item.arabicName}}</div>
          <div class="portuguese">{{item.portugueseName}}</div>
          <div class="gregorian" ng-if="item.id != 19">{{item.gregorianStart.day}}/{{item.gregorianStart.month}} - {{item.gregorianEnd.day}}/{{item.gregorianEnd.month}}</div>
        </div>
        <div class="inner" ng-if="resource=='month'">
          <div class="day-number">{{item.dayNumber}}</div>
          <div class="gregorian">{{item.toGregorian.day}}/{{item.toGregorian.month}}</div>
        </div>
      </div>
    </a>

    <a class="child" href="" ng-click="goToSiblingResource(+1)">
      <div class="card">
        <strong class="inner">
          {{nextResource}}
          <i class="ion-ios-arrow-forward"></i>
        </strong>
      </div>
    </a>
  </div>
</ion-view>
