<ion-view>
  <ion-header-bar class="bar-energizeda" ng-init="loadHolidays()" align-title="center">
    <h1 id="title" class="title title-center">
      <a href="{{parentResourceUrl}}">{{monthName}} {{year}}</a>
    </h1>
  </ion-header-bar>

  <div class="parent">
    <a class="child" href="" ng-click="goToSiblingResource(-1)">
      <div class="outer">
        <div class="inner ion-android-arrow-back"></div>
      </div>
    </a>

    <a class="child {{item.htmlClass}}" ng-repeat="item in collection" ng-click="goToChildResource(item.id)">
      <div class="outer">
        <span class="holidays-count" ng-if="holidaysFor[item.id] > 0">{{holidaysFor[item.id]}}</span>
        <div class="inner">
          <div class="arabic">{{item .alternativeName || item.arabicName}}</div>
          <div class="portuguese">{{item.portugueseName}}</div>
          <div class="day-number">{{item.dayNumber}}</div>
        </div>
      </div>
    </a>

    <a class="child" href="" ng-click="goToSiblingResource(+1)">
      <div class="outer">
        <div class="inner ion-android-arrow-forward"></div>
      </div>
    </a>
  </div>
</ion-view>
