<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Calendário" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/years/172">
    <ion-nav-view name="tab-calendar"></ion-nav-view>
  </ion-tab>

<!--   <ion-tab title="Configurações" icon-off="ion-ios-toggle-outline" icon-on="ion-ios-toggle" href="#/tab/configs">
    <ion-nav-view name="tab-configs"></ion-nav-view>
  </ion-tab> -->
</ion-tabs>
